<!DOCTYPE html>
<html>
    <head>
        <title>Calculator App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <form method="GET" action="#">
            <input id="input1" maxlength="3" required/>
            <input id="input2" maxlength="3" required/>

            <label class="radio-inline">
                <input type="radio" id="radioButtonAddition" name="operation" value="add"> +
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
            </label>
        </form>
    </body>
</html>
