<!DOCTYPE html>
<html>
    <head>
        <title>Calculator App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <form id="calculatorForm" method="GET" action="#">
            <input id="input1" maxlength="3" required/>
            <input id="input2" maxlength="3" required/>

            <label class="radio-inline">
                <input type="radio" id="radioButtonAddition" name="operation" value="add"> +
            </label>
            <label class="radio-inline">
                <input type="radio" id="radioButtonSubtraction" name="operation" value="sub"> -
            </label>
            <label class="radio-inline">
                <input type="radio" id="radioButtonMultiplication" name="operation" value="mul"> ร
            </label>
            <label class="radio-inline">
                <input type="radio" id="radioButtonDivision" name="operation" value="div"> รท
            </label>

            <button type="submit" id="submitButton" class="btn btn-default">Submit</button>

        </form>
        <script>

        </script>
    </body>
</html>
